.box{
    width: 100px;
    height: 100px;
    border:2px seagreen solid ;
    /* overflow: hidden;   это свойство, которое решает, что делать с содержимым блока, если оно не помещается в заданную ширину или высоту*/
    /* overflow: auto; */
    /* opacity: 1; управляет прозрачностью элемента  0 до 1*/
    /* clip-path: none;  обреска фото*/
}