.wrapper {
    width: 800px;
    height: 800px;
    background-color: rgb(25, 211, 211); /* Голубой фон */
    padding: 10px;
    display: flex;
    flex-wrap: wrap; /* ✅ ПЕРЕНЕСЁН сюда! Контейнер переносит элементы */
    justify-content: space-evenly;
    gap: 10px; /* ✅ Расстояние между элементами */
}

.displai-element {
    width: 20px;
    height: 20px;
    background-color: #00ff00;
    
    }
