/* три  способа как подключить шрифты первый способ
@font-face {
    font-family: "Roboto";
    src: url() format;
} */

@font-face {
    src:url(/fonts/Roboto-Regular.woff2) format(".woff2");
font-family: 'Roboto';
font-weight: normal;
font-style: normal;
}