.grit-container1{
    display: grid;
    /* grid-template-columns: auto auto auto;это свойтва для столбцов-колонок количество иих размер */
    /* grid-template-columns: [fist] 50px [DD]60px [XXXL]auto; */
    /* grid-template-columns: repeat(3, 150px); */
    /* grid-template-columns: repeat(2, 150px) repeat(3, 50px); */
    /* grid-template-rows: 40px 80px; высота строк */
        /* grid-template-rows: 40px ;
        grid-auto-columns: 50px 100px;
        grid-auto-flow: column; */
        /* grid-auto-flow: column; говорит что елементы грит контейнера не должны переносится автоматически на новые строки и чтобы они умещались в одну строку   grid-auto-columns с учетом значения rid-template-rows  */
    /* row-gap: 60px;создаст промежит между элементами по горизонтали */
     /* column-gap: 60px;создаст промежит между элементами по вертикали */ 
        gap: 10px;
}

.grit-element{
background-color: blue;
}