.box1{
background-color:green;


}

.box2{
background-color: blue;
position: relative;
}
.box3{
background-color: red;
height: 200px;
width: 300px;
padding: 30px 50px;
margin: 50px;
border: 5px solid rebeccapurple;
position:absolute;
bottom: 100px;
right: 25px;
}
.box4{
background-color: chartreuse;
}