/* три  способа как подключить шрифты первый способ
@font-face {
    font-family: "Roboto";
    src: url() format;
} */

@font-face {
    font-family: Roboto;
    src: url("/fonts/Roboto/Roboto.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}