
body{
    font-family: Roboto;
}
div{

width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.box2{
    background-color: blue;
}

.box3{
    background-color: black;
}

.box4{
    background-color: aqua;
}

.box{
    width: 600px; ;
    height: 600px;
    background-color: brown;
    background-image: url(/a6ce1b85e3235e861fc02f18bfdd0c7b.jpg);
    background-repeat: no-repeat;
    /* background-position: center; два параметра первый отвечает за вертикаль а другой горизоталь  */
}

.box2{
    width: 600px; ;
    height: 600px;
    background-color: rgb(114, 14, 196);
    background-image: url(/a6ce1b85e3235e861fc02f18bfdd0c7b.jpg);
    background-repeat: no-repeat;
    /* background-size: ; ширина а потом длина */
    background-size: 100px 200px;
}
/* .box6{
    width: 1000px;
    height: 1060px;
    background-color: blue;
    background-image: url(/maxresdefault\ \(4\).jpg);
    background-repeat: no-repeat;
} */



/* .box2{
background-image: url(путь); 
} */
/*задает фоновое изображение или градиент */

/* .box2{
    background-repeat: repeat;
}
режим повторение изображения  */

/* .box2{
    background-position: 0 0;
}
управляет позированием изобрания */

/* .box2{
    background-size: два параметра первый отвечает за ширину а второй за высоту ;
значения cover все место а если не помещяется то что обрезается,   отвечает за размеры элемента 
} */

/* .box2{
background-attachment: scroll,  fixed? local?;
задает правила фона при скроле 

} */
