div{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

/* .box2{
    background-color: blue;
} */
/* .box2{
background-image: url(путь); 
} */
/*задает фоновое изображение или градиент */

/* .box2{
    background-repeat: repeat;
}
режим повторение изображения  */

/* .box2{
    background-position: 0 0;
}
управляет позированием изобрания */
